.mobileNavigationBar {
    display: none
}

@media only screen and (max-width: 600px) {
    .mobileNavigationBar {
        display: block;
        margin: auto;
        position: fixed;
        width: 100vw;
        z-index: 1;
        height: 65px;
        bottom: 0;
        padding: 10px 0;
        background: rgba(0, 0, 0, 0.46);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        border: 1px solid rgba(0, 0, 0, 0.5)
    }

    .mNavContainer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: auto;
    }

    .mNavLink {
        height: 100%;
        font-size: 32px;
        color: #f1f1f1;
    }
}
