.mainWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.logoPopcorn {
    height: 16vh;
    width: 20vw;
    padding: 3vh;
    border-bottom: 1px solid gray;
}

.mainWrapper h1 {
    text-shadow: 0 0 40px #000;
    font-size: 28px;
    margin-top: 10vh;
}

.mainWrapper h3 {
    margin-top: 1vh;
    text-shadow: 0 0 40px #000;
    text-align: center;
}

.mainWrapper p {
    position: relative;
    margin-top: 5vh;
    color: #FdFFFF;
    text-shadow: 0 0 20px #000;
}

.mainWrapper p::before {
    content: ' ';
    position: absolute;
    background-color: #FdFFFF;
    height: 1px;
    width: 50%;
    left: -105px;
    top: 50%;
}

.mainWrapper p::after {
    content: ' ';
    position: absolute;
    background-color: #FdFFFF;
    height: 1px;
    width: 50%;
    left: 205px;
    top: 50%;
}

.mainWrapper div {
    display: flex;
}
