.recipeCard {
    width: 100%;
    height: 40vh;
    background-color: #d42320;
    display: grid;
    grid-template-rows: 10% 1fr 25% 10%;
    border-radius: 5px;
}

.rcType {
    color: #272727;
    font-size: 12px;
    font-weight: 600;
    text-transform: capitalize;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #272727;
    font-size: 12px;
    font-weight: 600;
    text-transform: capitalize;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rcTop,
.rcMid,
.rcBot {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.rcTop {
    background-color: #000000;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
}

.rcMid p:nth-child(1) {
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    filter: invert(0) grayscale(1) contrast(9) drop-shadow(.05em .05em black);
}

.rcMid p:nth-child(2) {
    margin-top: 1px;
    font-size: 10px;
    color: lightgray;
}

.rcBot a {
    text-decoration: none;
    color: #f1f1f1;
    transition-duration: 300ms;
}

.rcBot a:hover {
    color: black;
    text-decoration: underline;
}

.recipeCard div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.recipeCard div:first-child button {
    position: absolute;
    left: 0;
    border: none;
    background: none;
    color: #f1f1f1;
    cursor: pointer;
}

.recipeCard div:first-child button:hover {
    color: black;
}

.rcImage {
    height: 100%;
    width: 100%;
}
