.joinBtn {
    text-transform: uppercase;
    margin-top: 8vh;
    padding: 1.5vh 3vw;
    box-shadow: 0 0 20px #000;
    color: #f1f1f1;
    background-color: #79110F;
    border: none;
    cursor: pointer;
    font-weight: 700;
    transition-duration: 1s;
}

.joinBtn:hover {
    box-shadow: 0 0 0px #000;
    background-color: #c41c19;
}
