.searchBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    width: 100%;
    cursor: pointer;
    z-index: 5;
    position: absolute;
    right: -35px;
    background-color: #f1f1f1;
    animation: openAnimation 0.5s forwards
}

@keyframes openAnimation {
    0% {
        opacity: 0
    }

    25% {
        opacity: 25%
    }

    50% {
        opacity: 50%
    }

    100% {
        opacity: 100%
    }
}

.searchForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.submitSearchBtn {
    cursor: pointer;
    border: none;
    background: none;
    font-size: 18px;
    width: 34px;
    position: absolute;
    right: 0;
}

.userSearchList {
    position: absolute;
    min-height: 10vh;
    max-height: 40vh;
    overflow-y: scroll;
    top: 30px;
    width: 355px;
    background-color: white;
    padding: 5px;
    z-index: 1;
    border: 3px solid rgba(0, 0, 0, 0.5);
    cursor: auto;
}

.userSearchList ul {
    list-style: none;
    padding: 0;
    cursor: none;
}

.userSearchList::-webkit-scrollbar {
    display: none;
}

.searchresult {
    text-decoration: none;
    color: black;
    font-weight: 500;
    margin-left: 5px;

}

.userSearchList ul div {
    display: grid;
    grid-template-columns: 25px auto;
}
